<a href="https://colab.research.google.com/github/tuccib/CUNY_LAG/blob/Python/210629_Project_2_clinical_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
%matplotlib inline
import seaborn as sns

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/niteen11/DataAnalyticsAcademy/master/Python/dataset_diabetes/diabetic_data.csv')

In [8]:
df.head(10)

   encounter_id  patient_nbr             race  ... change diabetesMed readmitted
0       2278392      8222157        Caucasian  ...     No          No         NO
1        149190     55629189        Caucasian  ...     Ch         Yes        >30
2         64410     86047875  AfricanAmerican  ...     No         Yes         NO
3        500364     82442376        Caucasian  ...     Ch         Yes         NO
4         16680     42519267        Caucasian  ...     Ch         Yes         NO
5         35754     82637451        Caucasian  ...     No         Yes        >30
6         55842     84259809        Caucasian  ...     Ch         Yes         NO
7         63768    114882984        Caucasian  ...     No         Yes        >30
8         12522     48330783        Caucasian  ...     Ch         Yes         NO
9         15738     63555939        Caucasian  ...     Ch         Yes         NO

[10 rows x 50 columns]

In [9]:
df.describe().round(1)

       encounter_id  patient_nbr  ...  number_inpatient  number_diagnoses
count      101766.0     101766.0  ...          101766.0          101766.0
mean    165201645.6   54330400.7  ...               0.6               7.4
std     102640296.0   38696359.3  ...               1.3               1.9
min         12522.0        135.0  ...               0.0               1.0
25%      84961194.0   23413221.0  ...               0.0               6.0
50%     152388987.0   45505143.0  ...               0.0               8.0
75%     230270887.5   87545949.8  ...               1.0               9.0
max     443867222.0  189502619.0  ...              21.0              16.0

[8 rows x 13 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [13]:
# renaming diag_ columns to more descriptive ICD9_ name:
df = df.rename(columns={'diag_1':'ICD9_1', 'diag_2':'ICD9_2', 'diag_3':'ICD9_3'})

In [14]:
df

        encounter_id  patient_nbr  ... diabetesMed readmitted
0            2278392      8222157  ...          No         NO
1             149190     55629189  ...         Yes        >30
2              64410     86047875  ...         Yes         NO
3             500364     82442376  ...         Yes         NO
4              16680     42519267  ...         Yes         NO
...              ...          ...  ...         ...        ...
101761     443847548    100162476  ...         Yes        >30
101762     443847782     74694222  ...         Yes         NO
101763     443854148     41088789  ...         Yes         NO
101764     443857166     31693671  ...         Yes         NO
101765     443867222    175429310  ...          No         NO

[101766 rows x 50 columns]

In [18]:
# Check if encounter_id is unique
df['encounter_id'].is_unique

True

In [19]:
# Check if patient_nbr is unique
df['patient_nbr'].is_unique

False

In [23]:
# Rank patients in order of number of encounters
df.groupby(['patient_nbr'])['encounter_id'].count().sort_values(ascending=False)

patient_nbr
88785891    40
43140906    28
88227540    23
1660293     23
23199021    23
            ..
67638249     1
67636341     1
67633893     1
67633857     1
48164949     1
Name: encounter_id, Length: 71518, dtype: int64

In [25]:
# Rank the primary diagnoses ICD9_1 in order of count
df.groupby(['ICD9_1'])['encounter_id'].count().sort_values(ascending=False)

ICD9_1
428    6862
414    6581
786    4016
410    3614
486    3508
       ...
704       1
700       1
698       1
691       1
10        1
Name: encounter_id, Length: 717, dtype: int64