<a href="https://colab.research.google.com/github/tuccib/CUNY_LAG/blob/Python/210727_Project_3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Hospital_Charges_In_America_Dhiraj_Kaggle.csv')
df.head()

                             DRG Definition  ...  Average Medicare Payments
0  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...                 $4,763.73
1  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...                 $4,976.71
2  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...                 $4,453.79
3  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...                 $4,129.16
4  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...                 $4,851.44

[5 rows x 12 columns]

In [4]:
df.describe().round(0)

       Provider Id  Provider Zip Code   Total Discharges
count     163065.0           163065.0            163065.0
mean      255570.0            47938.0                43.0
std       151564.0            27854.0                51.0
min        10001.0             1040.0                11.0
25%       110092.0            27261.0                17.0
50%       250007.0            44309.0                27.0
75%       380075.0            72901.0                49.0
max       670077.0            99835.0              3383.0

Average Covered Charges, Average Total Payments, Average Medicare Payments are non-numeric but should be numeric.

In [14]:
df[' Total Discharges '].mean()

42.77630392788152

Note space before and after in ' Total Discharges '

In [15]:
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/v2 Hospital_Charges_In_America_Dhiraj_Kaggle.csv')
df2.head()

   DRG Code                            DRG Definition  ...  Unnamed: 13 Unnamed: 14
0        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
1        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
2        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
3        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
4        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN

[5 rows x 15 columns]

In [16]:
df.describe().round()

       Provider Id  Provider Zip Code   Total Discharges
count     163065.0           163065.0            163065.0
mean      255570.0            47938.0                43.0
std       151564.0            27854.0                51.0
min        10001.0             1040.0                11.0
25%       110092.0            27261.0                17.0
50%       250007.0            44309.0                27.0
75%       380075.0            72901.0                49.0
max       670077.0            99835.0              3383.0

In [21]:
df2['Average Covered Charges'].mean()

TypeError: ignored

Average Covered Charges, Average Total Payments, Average Medicare Payments are still non-numeric even after taking off the dollar signs in the .csv file.

In [23]:
df2['Average Covered Charges'] = pd.to_numeric(['Average Covered Charges'])

ValueError: ignored

Convert Average Covered Charges to number

In [25]:
df3 = df['Average Covered Charges'].str.extract(r'^(\d{4})', expand=False)
df3.head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Average Covered Charges, dtype: object

In [28]:
df2['Average Covered Charges'] = pd.to_numeric(df3)
df2['Average Covered Charges'].dtype

dtype('float64')

In [30]:
# Convert 'Average Total Payments' and 'Average Medicare Payments' to numbers
df4 =  df2['Average Total Payments'].str.extract(r'^(\d{4})', expand=False)
df5 =  df2['Average Medicare Payments'].str.extract(r'^(\d{4})', expand=False)
df2['Average Total Payments'] = pd.to_numeric(df4)
df2['Average Medicare Payments'] = pd.to_numeric(df5)

In [31]:
df2.describe()

            DRG Code    Provider Id  ...  Unnamed: 13  Unnamed: 14
count  163065.000000  163065.000000  ...          0.0          0.0
mean      395.722792  255569.865428  ...          NaN          NaN
std       232.113021  151563.671767  ...          NaN          NaN
min        39.000000   10001.000000  ...          NaN          NaN
25%       208.000000  110092.000000  ...          NaN          NaN
50%       312.000000  250007.000000  ...          NaN          NaN
75%       552.000000  380075.000000  ...          NaN          NaN
max       948.000000  670077.000000  ...          NaN          NaN

[8 rows x 9 columns]

In [32]:
df2['Average Medicare Payments'].dtype

dtype('float64')

In [34]:
df2['Average Total Payments'].dtype

dtype('float64')

In [36]:
df2['Average Medicare Payments'].mean()

nan

In [37]:
df2.head()

   DRG Code                            DRG Definition  ...  Unnamed: 13 Unnamed: 14
0        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
1        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
2        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
3        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
4        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN

[5 rows x 15 columns]

Average Covered Charges, Average Total Payments, Average Medicare Payments are all NaN. Must reload file.

In [45]:
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/v2 Hospital_Charges_In_America_Dhiraj_Kaggle.csv')
df2.head()

   DRG Code                            DRG Definition  ...  Unnamed: 13 Unnamed: 14
0        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
1        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
2        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
3        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
4        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN

[5 rows x 15 columns]

In [46]:
df2.describe()

            DRG Code    Provider Id  ...  Unnamed: 13  Unnamed: 14
count  163065.000000  163065.000000  ...          0.0          0.0
mean      395.722792  255569.865428  ...          NaN          NaN
std       232.113021  151563.671767  ...          NaN          NaN
min        39.000000   10001.000000  ...          NaN          NaN
25%       208.000000  110092.000000  ...          NaN          NaN
50%       312.000000  250007.000000  ...          NaN          NaN
75%       552.000000  380075.000000  ...          NaN          NaN
max       948.000000  670077.000000  ...          NaN          NaN

[8 rows x 6 columns]

In [48]:
df2.dtypes

DRG Code                                  int64
DRG Definition                           object
Provider Id                               int64
Provider Name                            object
Provider Street Address                  object
Provider City                            object
Provider State                           object
Provider Zip Code                         int64
Hospital Referral Region Description     object
Total Discharges                          int64
Average Covered Charges                  object
Average Total Payments                   object
Average Medicare Payments               float64
Unnamed: 13                             float64
Unnamed: 14                             float64
dtype: object

In [42]:
df5 =  df2['Average Medicare Payments']
df2['Average Medicare Payments'] = pd.to_numeric(df5)

ValueError: ignored

In [49]:
df2['Average Medicare Payments'] = pd.to_numeric(df2['Average Medicare Payments'], errors = 'coerce')
df2.head()

   DRG Code                            DRG Definition  ...  Unnamed: 13 Unnamed: 14
0        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
1        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
2        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
3        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN
4        39  039 - EXTRACRANIAL PROCEDURES W/O CC/MCC  ...          NaN         NaN

[5 rows x 15 columns]